<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: rgb(245, 245, 245)">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index">
            <img src="../images/nodejs-new-pantone-black.svg" alt="" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/index">Home</a>
                <a class="nav-link" href="/register">Register</a>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/profile">Profile</a>
                <a class="nav-link" href="/chat">Chat</a>
                <a class="nav-link" href="/refreshtoken">Refreshtoken</a>
                <a class="nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>