body {
    background-color: rgb(245, 245, 245);
    padding: 40px;
    padding-top: 100px;
}

h1 {
    text-align: center;
}

#content {
    margin: auto;
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(240, 240, 240);
    width: 90%;
    min-height: 300px;
    padding: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

input, button {
    padding: 8px;
    margin-top: 12px;
    margin-right: 6px;
}

input:focus {
    outline: none;
}