input {
    width: 70%;
}

#message-container, #input-container {
    margin: auto;
    width: 60%;
}

#message-container div {
    text-align: left;
    background-color: rgb(221, 221, 221);
    padding: 8px;
    padding-left: 30px;
}

#message-container div:nth-child(2n) {
    background-color: rgb(232, 232, 232);
}